<!DOCTYPE html>
<html lang="zh">
<head>
    <title>北京大学校园信息门户</title>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />

    <link href="./css/base.css" rel="stylesheet" />
    <link href="./css/index.css" rel="stylesheet" />
    <link href="./font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="icon" href="./img/favicon.ico" />
</head>

<body class="ng-app:portal ng-scope" id="ng-app" style="zoom: 1;">
    
    <div style="min-height:556px;"  class="ng-scope">
        
        <header class="header">
            <section>
                <div class="topLine"></div>

                <section class="subNav yahei clearfix">
                    <section class="ssubNav ssubNav-w">
                        <ul class="subNavLeft">
                            <li><a style="padding-left:0;" href="" class="ng-binding">请登录</a></li>
                        </ul>
                        <ul class="subNavRight">
                            <li><a href="" target="_blank" title="智慧生活">
                                <img src="./img/biz-icon-life-w.png" style="width:16px;padding-bottom:2px;vertical-align:middle;" alt="智慧生活">
                            </a>
                            </li>
                            <li><a href="https://liveclass.org.cn/" target="_blank" class="ng-binding">直播</a></li>
                            <li><a href="https://its.pku.edu.cn/" target="_blank" class="ng-binding">网络</a></li>
                            <li><a href="https://mail.pku.edu.cn" target="_blank" class="ng-binding">邮箱</a></li>
                            <li style="padding-right:0;"><a style="padding-right:0;" href="https://its.pku.edu.cn/download.jsp" target="_blank" class="ng-binding">客户端</a>
                            </li>
                            <li><a href="" ng-click="changeLanguage()" class="ng-binding">EN</a></li>
                        </ul>
                    </section>
                    <section class="mainWrap mainWrap02 noline mainWrap02-w">
                        <ul class="subNavLeft">
                            <li><a href="" style="padding-left:0;" class="ng-binding">请登录</a>
                            </li>
                        </ul>

                        <ul class="subNavRight">
                            <li><a href="" target="_blank" title="智慧生活">
                                <img src="./img/biz-icon-life-w.png" style="width:16px;padding-bottom:2px;vertical-align:middle;" alt="智慧生活">
                                </a>
                            </li>
                            <li><a href="https://liveclass.org.cn/" target="_blank" class="ng-binding">燕云直播</a></li>
                            <li><a href="https://its.pku.edu.cn/" target="_blank" class="ng-binding">网络</a></li>
                            <li><a href="https://mail.pku.edu.cn" target="_blank" class="ng-binding">邮箱</a></li>
                            <li><a href="https://its.pku.edu.cn/download.jsp" target="_blank" class="ng-binding">客户端</a>
                            </li>
                            <li><a href="" ng-click="changeLanguage()" class="ng-binding">EN</a></li>
                        </ul>
                    </section>
                </section>

                <section class="topWrap clearfix">
                    <section class="mainWrap">

                        <span class="logo">
                            <a href="https://www.pku.edu.cn/" title="北京大学"><img src="img/pkulogo_white.svg" alt="北京大学标志"></a>
                            <a class="sub_logo ng-binding" title="校内信息门户首页"
                                href="./index.html">校内信息门户</a>
                        </span>

                    </section>
                </section>
            </section>
        </header>
        
        <div class="main-body ng-scope">
            <section class="content">
                <div class="col_lg_10 top"></div>

                <div class="col_lg_5">
                    <div class="info clear-left">
                        <div class="title">
                            <a href="">
                                学校公告
                                <span class="right_more">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                        <ul class="border-list">
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                    href=""> 关于报送2023年工作总结的通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                    href=""> 关于发布2024—2025学年校历的通知</a>
                                <span class="s-dt ng-binding">12-10</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                    href=""> 关于2024年部分节假日安排的通知</a>
                                <span class="s-dt ng-binding">12-10</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                    href=""> 关于调整2023—2024学年校历的通知</a>
                                <span class="s-dt ng-binding">12-10</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                    href=""> 关于调整学校领导班子成员分工安排的通知</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 关于做好2023年度年终结账及财务决算的通知</a>
                                <span class="s-dt ng-binding">11-14</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 关于印发《北京大学仪器设备资产损坏丢失赔偿暂行办法》的通知</a>
                                <span class="s-dt ng-binding">11-13</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col_lg_5">
                    <div class="info clear-right">
                        <div class="title">
                            <a href="">
                                干部选任公告
                                <span class="right_more">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>
                        <ul class="border-list">
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                    href=""> 关于姜国华、宁琦职务任免的通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 关于刘颖任职的通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                            <a target="_blank" class="ng-binding"
                               href=""> 关于林丰民、王周谊职务任免的通知</a>
                            <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 关于林丰民、王周谊职务任免的通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 任前公示</a>
                                <span class="s-dt ng-binding">12-06</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 关于康涛、初晓波职务任免的通知</a>
                                <span class="s-dt ng-binding">11-24</span>
                            </li>
                            <li class="ng-scope">
                                <a target="_blank" class="ng-binding"
                                   href=""> 关于初晓波等职务任免的通知</a>
                                <span class="s-dt ng-binding">11-24</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col_lg_75">
                    <div class="info info-c3 clear-left">
                        <div class="title">
                            <a href="">
                                单位公告
                                <span class="right_more">
                                    <i class="fa fa-angle-right"></i>
                                </span>
                            </a>
                        </div>

                        <ul class="border-list">
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校工会</span>
                                <a target="_blank" class="ng-binding" href="">
                                    平民学校科普系列讲座第四讲：“感知生命”
                                </a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">前沿交叉学院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    讲座报名｜欢迎参加第36期“周三茶座”席振峰教授 魅力化学：固氮
                                </a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">图书馆</span>
                                <a target="_blank" class="ng-binding" href="">
                                    Chat-Read沙龙报名｜科幻中的宇宙奇趣与人世狂想
                                </a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">总务部</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学餐饮服务项目4包件废标公告
                                </a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">总务部</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学餐饮服务项目中标公告
                                </a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">计算中心</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于校园网出口设备维护的通知
                                </a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">党委教师工作部</span>
                                <a target="_blank" class="ng-binding" href="">
                                    教师心理团体辅导｜自我关照与情绪调节</a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校史馆</span>
                                <a target="_blank" class="ng-binding" href=""> 《北大校史讲坛》第三讲 |
                                    李强：为创建世界一流大学谋篇布局——回顾本世纪初的北大发展规划工作</a>
                                <span class="s-dt pku-red ng-binding">12-12</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">图书馆</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学2024年春季毕业研究生提交学位论文通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li  class="ng-scope">
                                <span class="s-dpt ng-binding">科研部</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于召开北京大学2024年度国家自然科学基金申请布置会的通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">电子学院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    电子学院前沿论坛第59期——大口径射电望远镜相位阵馈源关键技术研究</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校园服务中心</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学洒水车购置项目竞争性谈判公告</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校园服务中心</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学厨余垃圾处理服务项目竞争性磋商公告</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校园服务中心</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学室外公共卫生间保洁服务项目竞争性磋商公告</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">材料学院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    《彤程材料科学论坛》第038讲|轻氢之镁 创新栽培</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">总务部</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于做好扫雪铲冰工作的通知</a>
                                <span class="s-dt ng-binding">12-11</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">社区服务中心</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于举办“便民零距离·服务无极限”便民服务日（中关园站）的活动通知</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">审计室</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于对北京大学经济学院综合管理情况以及党政主要领导人员经济责任进行审计的公示</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">计算机学院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    菁英论坛第22期——Transport Layer Innovations in Ultra-low Latency Video Communications</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">学科办</span>
                                <a target="_blank" class="ng-binding" href=""> 欢迎线上观看中国大学校长联谊会
                                    “情归祖国”云上音乐会</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">计算机学院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    名家讲坛第10期——大模型与国产算力</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校工会</span>
                                <a target="_blank" class="ng-binding" href="">
                                    青年教师沙龙｜守望家园：燕园遗产保护的实践探索</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校医院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    北京大学医院劳动合同制职工招聘公告</a>
                                <span class="s-dt ng-binding">12-08</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">财务部</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于召开北京大学2024年预算编制工作启动会的通知</a>
                                <span class="s-dt ng-binding">12-07</span>
                            </li>
                            <li class="ng-scope">
                                <span class="s-dpt ng-binding">校医院</span>
                                <a target="_blank" class="ng-binding" href="">
                                    关于校医院信息系统升级的通知</a>
                                <span class="s-dt ng-binding">12-07</span>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col_lg_25 col_md_5">
                    <div class="info clear-right" id="app-tile">
                        <ul class="item-list-2-b">
                            <li class="left">
                                <a target="_blank" class="calendar" href="https://www.pku.edu.cn/campus.html#p3a">校历</a>
                            </li>
                            <li class="bottom"><a target="_blank" class="software"
                                    href="">正版软件</a></li>
                            <li class="left"><a target="_blank" class="network"
                                    href="https://its.pku.edu.cn/epay.jsp">网费充值</a>
                            </li>
                            <li class="bottom"><a target="_blank"
                                    class="card"
                                    href="">校园卡充值</a>
                            </li>
                            <li class="left"><a class="freeclassroom"
                                    href="">空闲教室</a>
                            </li>
                            <li class="bottom"><a target="_blank"
                                    class="repair" href="">后勤报修</a>
                            </li>
                            <li class="left-bottom"><a class="jgfw"
                                    href="">机关服务</a>
                            </li>
                            <li><a target="_blank" class="zhcg"
                                    href="">智慧场馆</a>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col_lg_25 col_md_5">
                    <div class="info clear-right" id="qr-code">
                        <ul class="item-list-2-b">
                            <li class="left"><a href="https://wxsp.pku.edu.cn/portal2017/qrcode/pkuApp.do"
                                    target="_blank" id="portal">北京大学App</a></li>
                            <li class="bottom"><a href="https://wxsp.pku.edu.cn/portal2017/qrcode/pkuOA.do"
                                    target="_blank" id="bdoa">北大办公App</a></li>
                            <li class="left-bottom"><a href="https://wxsp.pku.edu.cn/portal2017/qrcode/pkuIts.do"
                                    target="_blank" id="ipgw">北大网关App</a></li>
                            <li><a href="https://wxsp.pku.edu.cn/portal2017/qrcode/pkuVpn.do" target="_blank"
                                    id="pkuvpn">北大VPN</a></li>
                        </ul>
                    </div>
                </div>

                <div class="clearfix"></div>
            </section>
        </div>
    </div>

    <div id="gotoTop" style="display: none;">
        <i class="fa fa-angle-up fa-2x"></i>
    </div>

    <script>
        let timer = null;
        document.getElementById("gotoTop").onclick = function(){
            cancelAnimationFrame(timer);
            timer = requestAnimationFrame(function fn(){
                const oTop = document.body.scrollTop || document.documentElement.scrollTop;
                if(oTop > 0){
                    let deltaTop = oTop/60;
                    document.body.scrollTop = document.documentElement.scrollTop = oTop - deltaTop;
                    timer = requestAnimationFrame(fn);
                }else{
                    cancelAnimationFrame(timer);
                }
            });
        }
        window.onscroll = function() {
            if (document.body.scrollTop > 800 || document.documentElement.scrollTop > 800) {
                document.getElementById("gotoTop").style.display = "block";
            } else {
                document.getElementById("gotoTop").style.display = "none";
            }
        };
    </script>

    <footer class="footer" >
        <section class="fot_bot ng-scope">
            <span class="copyright">版权所有©北京大学</span>
            <span class="addr">地址：北京市海淀区颐和园路5号</span>
            <span class="postcode">邮编：100871</span>
            <span class="email">邮箱：its@pku.edu.cn</span>
            <span class="telephone">电话：010-62751023</span>
            <span class="tech-sup">支持：<a href="https://cc.pku.edu.cn">北京大学计算中心</a></span>
        </section>
    </footer>
</body>

</html>