@charset "utf-8";

a,
body,
div,
html,
image,
li,
ul {
    border: 0;
    padding: 0;
    margin: 0;
    font-family: 'Microsoft Yahei', "Lucida Grande", Tahoma, Arial, Helvetica, "sans-serif";
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 400
}

body {
    color: #565656;
    line-height: 20px;
    font-size: 12px;
    margin: 0
}

img {
    border: 0;
    vertical-align: bottom;
    -ms-interpolation-mode: bicubic
}

a,
a:link {
    text-decoration: none;
    color: #323232
}

a:hover {
    text-decoration: none;
    color: #9b0000
}

ul {
    list-style-type: none
}

.clearfix:after {
    display: block;
    content: '';
    clear: both;
    height: 0;
    visibility: hidden
}

.ie6 {
    text-align: center;
    font-size: 14px;
    line-height: 60px
}

.ie6 span {
    float: right;
    margin-right: 30px;
    cursor: pointer
}

.mainWrap {
    width: 1000px;
    margin: auto
}

.header {
    overflow: hidden
}

.header .topWrap {
    padding: 0;
    background: #8c0000 url(../img/img_xnmh.gif) top right no-repeat;
    background-size: auto 100px
}

.header .topWrap .mainWrap {
    height: 100px
}

.header .logo {
    float: left;
    padding-top: 20px
}

.header .logo a {
    float: left;
    display: inline
}

.header .logo img {
    width: 213px
}

.header .logo a.sub_logo {
    float: left;
    display: inline;
    margin-top: 15px;
    margin-left: 15px;
    padding-left: 15px;
    padding-top: 2px;
    color: #fff;
    font-size: 30px;
    height: 30px;
    border-left: 1px solid #fff
}

.header .logo a.sub_logo:hover {
    color: #cecece
}

.header .subnavLeft {
    padding-left: 10px
}

.header .subNav {
    background: #700005;
    border-bottom: 0 solid #700005
}

.header .subNav li {
    float: left;
    padding: 6px 2px 6px 3px;
    height: 20px;
    line-height: 20px;
    position: relative;
    z-index: 999;
    zoom: 1
}

.header .subNav li a {
    display: block;
    font-size: 14px;
    color: #e5e3e3;
    padding: 0 5px;
    height: 20px;
    line-height: 20px;
    filter: dropshadow(color=#600000, offx=0, offy=2)
}

.header .subNav li a.hover,
.header .subNav li a:focus,
.header .subNav li a:hover {
    color: #fff
}

.header .subNavRight {
    float: right !important
}

.main-body {
    width: 100%;
    max-width: 1380px;
    min-height: 450px;
    margin: 0 auto;
    overflow: hidden
}

.footer {
    width: 100%;
    height: 40px;
    background: #505050;
    margin-top: 40px
}

.fot_bot {
    width: 1000px;
    margin: 0 auto;
    font-size: 12px;
    overflow: hidden;
    color: #fff;
    text-align: center;
    height: 40px;
    line-height: 40px;
    background: #505050
}

.fot_bot span {
    display: inline-block;
    float: left;
    width: 160px;
    padding: 0 15px
}

.fot_bot span a {
    color: #fff
}

.fot_bot span a:hover {
    color: #eee
}

.fot_bot .copyright {
    width: 120px
}

.fot_bot .addr {
    width: 180px
}

.fot_bot .postcode {
    width: 90px
}

.fot_bot .telephone {
    width: 130px
}

.fot_bot .email {
    width: 160px
}

.fot_bot .tech-sup {
    width: 140px
}

.ssubNav {
    display: none
}

@media screen and (max-width:1024px) {
    .mainWrap {
        width: 800px;
        margin: 0 auto
    }

    .footer {
        height: 102px
    }

    .fot_bot {
        width: 400px;
        height: 78px;
        padding: 12px 0;
        line-height: 26px
    }

    .fot_bot span {
        text-align: left
    }

    .fot_bot .copyright {
        width: 150px
    }

    .fot_bot .postcode {
        width: 150px
    }

    .fot_bot .telephone {
        width: 150px
    }

    .fot_bot .email {
        width: 170px
    }

    .fot_bot .tech-sup {
        width: 170px
    }

    .header .topWrap {
        height: auto
    }
}

@media screen and (max-width:800px) {
    .mainWrap {
        width: calc(100% - 40px);
        padding-left: 20px;
        padding-right: 20px
    }

    .mainWrap02 {
        position: relative;
        display: block;
        background: #444
    }

    .subNav .ssubNav {
        width: calc(100% - 40px);
        font-size: 14px;
        padding: 0 20px;
        cursor: pointer;
        color: #fff;
        background: #700005;
        display: none;
        -ms-transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out
    }

    .header .subNav .ssubNav li {
        padding: 6px 12px 6px 0;
        height: 20px;
        line-height: 20px
    }

    .footer .footWrap li {
        width: 190px;
        height: 200px;
        overflow: hidden
    }

    .header .logo {
        display: block;
        width: 424px;
        height: 60px;
        margin: 0 auto;
        padding-bottom: 0
    }

    .header .topWrap {
        height: auto
    }
}

@media screen and (max-width:640px) {
    .header .topWrap .mainWrap {
        height: 100px
    }

    .mainWrap02 {
        position: relative;
        display: block;
        background: #444
    }

    .header .logo {
        margin: auto;
        padding-left: 0;
        padding-top: 28px;
        padding-bottom: 27px;
        height: 45px;
        width: 311px
    }

    .header .logo img {
        width: 160px
    }

    .header .logo a.sub_logo {
        margin-top: 10px;
        font-size: 20px
    }

    .header .topWrap {
        height: auto;
        background: #8c0000
    }

    .header .subNav .ssubNav li {
        padding: 6px 0;
        height: 20px;
        line-height: 20px
    }

    .footer .footWrap {
        padding: 14px 0
    }

    .footer .footWrap li {
        width: 25%;
        height: auto
    }

    .footer .footWrap a {
        display: none
    }

    .subNav .ssubNav {
        font-size: 14px;
        padding: 0 20px;
        cursor: pointer;
        color: #fff;
        background: #700005;
        display: none;
        -ms-transition: .4s ease-in-out;
        -webkit-transition: .4s ease-in-out;
        transition: .4s ease-in-out
    }

    .header .subnavLeft {
        padding-top: 30px
    }

    .header .subNav li {
        float: left;
        border: none
    }
}

@media screen and (max-width:500px) {
    .mainWrap02-w {
        position: relative;
        display: none;
        background: #444
    }

    .subNav .ssubNav-w {
        display: block
    }
}

@media screen and (max-width:480px) {
    .mainWrap02-w {
        position: relative;
        display: none;
        background: #444
    }

    .subNav .ssubNav {
        display: block
    }

    .header .topWrap {
        background-size: auto 70px
    }

    .header .topWrap .mainWrap {
        height: 77px
    }

    .header .logo {
        padding-top: 19px;
        padding-bottom: 18px;
        height: 40px;
        width: 258px
    }

    .header .logo img {
        width: 140px
    }

    .header .logo a.sub_logo {
        margin-top: 6px;
        margin-left: 10px;
        padding-left: 10px;
        font-size: 16px;
        height: 24px
    }
}

@media screen and (max-width:400px) {
    .mainWrap02 {
        position: relative;
        display: none;
        background: #444
    }

    .subNav .ssubNav {
        display: block
    }

    .footer {
        height: 180px
    }

    .fot_bot {
        width: 240px;
        height: 156px
    }

    .fot_bot span {
        width: 240px;
        text-align: left
    }
}

@media screen and (max-width:360px) {
    .header .topWrap {
        background-size: auto 60px
    }

    .header .topWrap .mainWrap {
        height: 60px
    }

    .header .logo {
        padding-top: 13px;
        padding-bottom: 13px;
        height: 34px;
        width: 232px
    }

    .header .logo img {
        width: 120px
    }

    .header .logo a.sub_logo {
        margin-top: 6px;
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 2px;
        padding-left: 10px;
        font-size: 15px;
        height: 20px
    }
}

@media screen and (max-width:320px) {
    .header .subNav .ssubNav li {
        padding: 6px 0
    }

    .header .topWrap {
        background-size: auto 50px
    }

    .header .topWrap .mainWrap {
        height: 50px
    }

    .header .logo {
        margin: auto;
        padding-top: 11px;
        padding-bottom: 11px;
        height: 28px;
        width: 193px
    }

    .header .logo img {
        width: 100px
    }

    .header .logo a.sub_logo {
        margin-top: 6px;
        margin-left: 10px;
        padding-top: 0;
        padding-bottom: 6px;
        padding-left: 10px;
        font-size: 12px;
        height: 15px
    }
}